section{
    padding: 50px 20px;
}

.row{
    width: 100%;
    float: left;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.5em;
}

.name{
    width: 50%;
    height: 100%;
    padding-top: 10px;
    text-align: center;
    border-right: 1px solid #00d4d0;
    float: left;
}

.price{
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
    float: left;
}

button{
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    border: 1px solid #00d4d0;
    border-radius: 15px;
    cursor: pointer;
    float: right;
}

button:hover{
    background-color: rgba(0,0,0,0.3);
}